body{
    /* background: linear-gradient(#f3d983, #848ce2); */
    background: rgb(197,236,232);
background: linear-gradient(90deg, rgb(73, 158, 150) 4%, rgba(148,225,233,1) 52%);
padding:30px;

}

.item-pic{
height:22rem;
width:22rem;
border-radius: 50%;
object-fit:cover;
}  

.details{
font-size: 20px;
font-family: 'Inter', sans-serif;
letter-spacing: 1.2px;
/* background-color: cyan; */
}

.makeup-container{
 background-color:paleturquoise;
display:flex;
justify-content: space-between;
align-items:center;
margin:20px;
padding:20px;
column-gap: 30px;
border-radius: 30px;
 
}

.add-container{
display:flex;
flex-direction:column;
row-gap:10px;
background-color:whitesmoke;
margin:20px;
padding:20px;
border-radius:30px;
font-size: 20px;
font-family: 'Inter', sans-serif;
min-width:1000px;
max-width:1600px; 
}

.makeup-list{
display:flex;
flex-direction: column;
justify-content: center;
min-width:1000px;
max-width:1600px; 
}

.edit-makeup{

 display:none;

}